{% extends "form.html" %}

{% block action %}/poema/{{ values.get("id") }}/edit{% endblock action %}
{% block hidden_method %}<input type="hidden" name="_METHOD" value="PUT">{% endblock hidden_method %}
{% block subtitle %}Editar Poema{% endblock subtitle %}
{% block author %}{{ values.get("author") }}{% endblock author %}
{% block title %}{{ values.get("title") }}{% endblock title %}
{% block poem %}{% for p in poem %}{% if poem.index(p) != poem.index(poem[-1]) %}{{ p + "\n" }}{% else %}{{ p }}{% endif %}{% endfor %}{% endblock poem %}
{% block submit %}Editar{% endblock submit %}